*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  height: 4rem;  
}
.nav-links{
  display: flex;
}




/* navbar mobile */
@media only screen and (max-width: 750px){
  nav{

  }
  
  .nav-toggle{
    position: absolute;
    right: 1rem;
    z-index: 99;
  }
  .nav-links{
    flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0px;
  
    padding-top: 5rem;
  
    width: 16rem;
    height: 100%;
    background-color: lightcyan;
  
    transform: translateX(100%);
  
  }
}
/* Different style for opening the menu */
.nav-links[data-visible="true"]{
  transform: translateX(0%);
  transition: 0.3s ease-in;
}


/* navbar desktop */
@media only screen and (min-width: 751px) {
  .nav-toggle {
    display: none;
  }
  nav {
  }
  .nav-links {
    flex-direction: row; 
    position: static;
    align-items: center;
    
  }
  




}

    



.nav-links li{
  list-style: none;
  padding: 1rem;
  


}

.nav-links a {

  text-decoration: none;



}


img{
    display: block;    
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    border: 5px solid black;
}


h1{
    text-align: center;
    text-decoration-line: underline;
}

p{
  
    text-align: center;
}
body{
    background-color: lightblue;
}

.todo-container{
  padding: 20px;
}

.completed{
  text-decoration-color: chartreuse;
  text-decoration: line-through;
  color: chartreuse;
}

.content-wrap {
  box-sizing: border-box;
  width: 35%;
  margin: 40px auto;
}
h2 {
  text-align: center;
}
form {
  text-align:  center;
}


